/* ------------------------------------------------------------------- */
html {
box-sizing: border-box;
} 
*,
*::after,
*::before {
	box-sizing: inherit;
}
/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0; 
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}
/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* ------ */

:root {
    --brand-color: #2196f3;
    --text-color: #212121;
}

/* body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;    
    width: 1600px;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);   
} */

/* ------------------------------------------------------------------- */

/*atributos generales para las paginas*/


li{
    list-style: none;
    text-decoration:none;
    }

/* .bodies-pages{
    width: 1600px;
    margin: 40px auto;
    background-color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
} */

/* ------------------------------------------------------------------- */

/*HEADER*/

.container-header-index{
    
    /* width: 1600px; */
    /* height: 80px; */
    /* margin-bottom: -20px; */
    /* margin-bottom: 1%; */
    border-bottom: 1px solid #ECECEC;
    justify-content: center; 
    background-color: rgb(255, 255, 255);
    display: flex;    
}

.container-header-portafolio{
    border-bottom: 1px solid #ECECEC;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    display: flex;
}


.logo-header{
    text-decoration:none;
    /* margin-left: 215px;
    width: 145px; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--brand-color);
    /* line-height: 370%; */
    /* line-height: 6rem; */
    padding: 25px 0px;
}

.nav-header{
    padding: 31px 0px;
    margin: 0px 68px;
}   

.ul-header{
    margin: 0;
    padding: 0;
    display: flex;    
}

.ul-header-correo-numero > .li-header-correo-numero:last-child {
    margin-right: 0px;
}

.li-header{
    padding: 0;
    margin: 0px 25px;
    list-style: none;
    text-decoration: none;
}

.ul-header-correo-numero{
    margin: 0;
    margin-left: 226px;
    padding: 31px 0px;
    display: flex;   
}

.li-header-correo-numero{
    padding: 0;
    margin: 0px 25px;
    list-style: none;
    text-decoration: none;
}

/* PESTAÑAS ESTUDIO */

.estudio-header{
    text-decoration:none;
    /* margin-left: 93px;
    width: 49px; */
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    /* line-height: 5em ; */
    color: var(--brand-color);
    /* line-height: 500%; */
}

.estudio-header:focus{
    color:var(--brand-color);
    /* line-height: 500%; */
}

.estudio-header:hover{
    color: var(--brand-color);
    font-weight: 700;
}

.estudio-header-index{
    text-decoration:none;
    /* margin-left: 93px; */
    /* width: 49px; */
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    /* line-height: 5em ; */
    /* line-height: 500%; */
    color: var(--text-color);
}

.estudio-header-index:focus{
    color:var(--brand-color);
    /* line-height: 500%; */
}

.estudio-header-index:hover{
    color: var(--brand-color);
    font-weight: 700;
}


/* PESTAÑAS PORTAFOLIO */

.portafolio-header{
    text-decoration:none;
    /* margin-left: 50px; */
    /* width: 49px; */
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    /* line-height: 5em ; */
    color: var(--text-color);
    /* line-height: 500%; */
}

.portafolio-header:focus{
    color: var(--brand-color);
    /* line-height: 500%; */
}

.portafolio-header:hover{
    color:var(--brand-color);
    font-weight: 700;
    /* line-height: 500%; */
}

.portafolio-header-portafolio{
    text-decoration:none;
    /* margin-left: 50px; */
    /* width: 49px; */
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    /* line-height: 5em ; */
    color: var(--brand-color);
    /* line-height: 500%; */
}



/* PESTAÑAS CONTACTOS */

.contactos-header{
    text-decoration:none;
    /* margin-left: 50px;
    width: 49px; */
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    /* line-height: 5em ; */
    color: var(--text-color);
    /* line-height: 500%; */
}

.contactos-header:focus{
    color:var(--brand-color);
    /* line-height: 500%; */

}

.contactos-header:hover{
    color:var(--brand-color);
    font-weight: 700;
}


/* PESTAÑAS CORREO Y NUMERO */

.correo-header{
    text-decoration:none;
    /* margin-left: 344px; */
    width: 49px;
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    /* line-height: 5em ; */
    color: #757575;
    /* line-height: 500%; */
}

.correo-header:focus{
    color:var(--brand-color);
    /* line-height: 500%; */
}

.correo-header:hover{
    color:var(--brand-color);
    font-weight: 700;
}

.numero-header{
    text-decoration:none;
    /* margin-left: 50px; */
    width: 49px;
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    /* line-height: 5em ; */
    color: #757575;
    /* line-height: 500%; */
}

.numero-header:focus{
    color:var(--brand-color);
}

.numero-header:hover{
    color:var(--brand-color);
    font-weight: 700;
}

/*FIN HEADER*/

/* ------------------------------------------------------------------- */

/* PAGE INDEX*/

/* ------------- SECCION MAIN PAGE-INDEX --------------- */

/* SECCION POSTER PRINCIPAL */

.container-poster-index{
    /* width: 1200px; */
    /* margin: auto; */
    padding: 170px 0px;
    background-color: #2F303A;
    text-align: center;
    
}

.titulo-poster-index-h1{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    padding: 30px 0px; 
}

.boton{
    cursor: pointer;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--brand-color);
    padding: 10px 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    line-height: 180%;
    margin-bottom: 30px;
}

.boton:focus, .boton:hover{
    color: #6fc3f5;
}

/* --------------SECCION VALORES EMPRESARIALES */

.container-valores-empresariales{
    padding: 95px 0;
    margin: 0;
}

.ul-valores-empresariales{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.li-valores-empresariales{
    padding: 0;
    margin: 0 15px;
}

.titulo-valores-empresariales{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}

.caracteristicas-valores-empresariales{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    line-height: 170%;
    margin-top: 10px;
}


/* -----------------SECCION TRABAJOS */

.container-work{
    margin:0;
    padding: 0;
    background-color: white;
}

.titulo-work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    line-height: 110%;
    margin-bottom: 55.05px;
}


.ul-images-work{
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
}

.images-work{
    width: 373.16px;
    height: 323.7px;
    padding: 0;
    margin: 0px 15px;
    margin-bottom: 94px;
}


/* -----------------SECCION TRABAJADORES */



.container-worker{
    background: #F5F4FA; 
    padding: 94px 0;
    margin: 0;
}

.titulo-worker{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    line-height: 110%;
    margin-bottom: 50px;
    padding: 0;
}

.ul-images-worker{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.li-worker{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0;
    padding: 0;
    margin-left: 37px;
}

.ul-images-worker > .li-worker:first-child{
    margin: 0;
}

.container-texto-worker{
    padding: 30px 0px;
    margin: 0;
    text-align: center;
}

.nameworkerh3{
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--text-color);
    line-height: 110%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.description-worker{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
    line-height: 110%;
    margin: 0;
    padding: 0;
}


/* ----------- SECCION FOOTER PAGE-INDEX*/

.container-footer{
    /* width: 1200px; */
    background: #2F303A;
    margin: 0;
    padding: 60px 215px;
}

.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-decoration: none;
    line-height: 110%;
    padding: 0;
    margin: 0;
}

address{
    font-style: normal;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}

.ul-address-footer{
    list-style: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.li-addres-footer{
    margin: 0;
    padding: 0;
}

.number-email{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 170%;
    margin: 0;
    padding: 0;
}

.number-email:focus,:hover{
    color:var(--brand-color);
}

/* ------------------------------------------------------------------- */

/* PAGE PORTAFOLIO*/

/* MAIN PAGE PORTAFOLIO */

/* INICIO DE BOTONES PORTAFOLIO */
.container-menu-portafolio{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 106px;
}

.ul-menu-portafolio{
    display: flex;
    padding: 0;
    margin:0;
}

.li-menu-portafolio{
    padding: 0;
    margin:0;
    margin-right: 8px;
}

.ul-menu-portafolio > .li-menu-portafolio:last-child{
    margin:0;
}

.menu-botones-portafolio{
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
    border: none;
    border-radius: 4px;
    padding: 6px 24px;
    margin: 0;
}

.menu-botones-portafolio:hover{
    font-family: "Roboto";
    font-weight: 500;
        font-size: 16px;
    background: var(--brand-color);
    border-radius: 4px;
    padding: 0 1% ;
    color: #ffffff;
    padding: 6px 24px;
}

.menu-botones-portafolio:focus{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    background: var(--brand-color);
    border-radius: 4px;
    padding: 0 1% ;
    color: #ffffff;
    padding: 6px 24px;
    outline: none;
}

/* FINAL DE BOTONES PORTAFOLIO */

/* INICIO DE TARJETAS INFORMATIVAS */

.container-tarjetas-services{
    /* padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; */

    padding-bottom: 82px;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ul-tarjetas-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin: 0px auto;
    margin-bottom: 75px;
    padding: 0;
}

.li-tarjetas-services{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 370px;
    /* height: 404px; */
}

.li-tarjetas-services:hover{
    cursor: pointer;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.li-tarjetas-services:focus{
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.link-tarjetas-services{
    text-decoration: none;
    padding: 0;
    margin:0;
}

/* .link-tarjetas-services:focus{
    outline: none;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
} */

.container-texto-tarjetas-services{
    padding: 20px 24px;
    margin: 0;
}

.titulo-tarjetas-services{
    color: #212121;
    padding: 0;
    margin:0;
}

.description-tarjetas-services{
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding: 0;
    margin:0;
    margin-top: 10px;
}

/* FINAL DE TARJETAS INFORMATIVAS */

/* FINAL MAIN PAGE PORTAFOLIO */

/* FOOTER DE PORTAFOLIO */

